.global-nav-title {
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
}

.global-nav-button-box {
  position: fixed;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.global-nav-button {
  cursor: pointer;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: ease-in-out 0.15s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  border-radius: 4px;
}

.global-nav-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.global-nav-button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.global-nav-button:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.global-nav-button:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
